div {
  border-radius: 5px 5px 5px 5px;
  vertical-align: middle;
  text-align: center;
}

.pressed {
  background-color: lightblue;
  color: red;
}

.num:hover, .ex:hover, .decimal:hover, .percentage:hover {
  background-color: #00ace6;

}

.op:hover, #equals:hover {
  background-color: #cc7a00;
}
.calculator {
  position: absolute;
  top:20%;
  left:35%;
  width:420px;
  height:453px;
  border-style: solid;
  text-align: center;
}

.display {
  background-color: #FF7F50;
  width:402px;
  height:60px;
  margin: 0px 0px 5px 0px;
}

.numbers {
  width: 300px;
  float:left;
  position: relative;
  margin: 0px 5px 0px 2.5px;
}

.operations {
  float:left;
  left: 0px;
  width: 105px;
  height: 405px;
  margin: 0px 0px 0px 5px;
}

.extras {
  position: relative;
  top: -95px;
  margin: 0px 5px 0px 2.5px;
}

.num, .ex, .decimal, .percentage {
  float:left;
  width: 95px;
  height: 75px;
  margin: 1px 1px 1px 1px;
  background-color: #5cd6ff;
  color: black;
}

.op, #equals {
  float:left;
  width: 100px;
  height: 75px;
  background-color: orange;
  margin: 1px 1px 1px -15px;
}
